body{

    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: #FFFFFF;
    
    }
    header{
    
        position: absolute;
        width: 1680px;
        height: 295px;
        left: 0px;
        top: 0px;
        background: #283044;
        border-color: #000000;
        border-style: ridge;
    }
    h1{
    
        position: absolute;
        width: 698px;
        height: 125px;
        left: 371px;
        top: 20px;
        text-align: center;
        font-family: "Homer Simpson UI";
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 125px;
        color: #FFFFFF;
        }
        .volver{
    
            position: absolute;
            width: 70px;
            height: 70px;
            left: 40px;
            top: 40px;
    
        }
        .imagen{
    
            position: absolute;
            width: 477px;
            height: 358px;
            left: 96px;
            top: 354px;
        }
        .text{
    
    
            position: absolute;
            width: 700x;
            height: 500px;
            left: 590px;
            top:  320px;
            font-family: "Homer Simpson UI";
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 41px;
            text-align: justify;
            
            color: #000000;
            
            }
            .text1{
                position: absolute;
                width: 1370px;
                height: 205px;
                left: 90px;
                top: 750px;
                border-style: dashed;
                background-color: #EBF5EE;
                border-color: #000000;
                font-family: "Homer Simpson UI";
                font-style: normal;
                font-weight: 400;
                font-size: 29px;
                line-height: 41px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #000000;
                
            
            }


            .c{
                position:absolute;
                width: 1370px;
                height: 360px;
                left: 91px;
                top:350px;
              
        
                background-color: #EBF5EE;
                border-color: #000000;
                border-style:inset;
            }
            .c2{
                position:absolute;
                width: 1350px;
                height: 33px;
                left: 80px;
                top:1052px;
                background-color: #EBF5EE;
                border-color: #000000;
                border-style:inset;
                font-family: 'Hind Madurai';
                font-style: normal;
                font-weight: 400;
                font-size: 29px;
                line-height: 41px;
                text-align: justify;
            }